body {
    margin: 0;
    background-image: url(Joseph\ Burgess.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;   
}


.lampu-container {
    display: flex;
    gap: 50px;
    align-items: center;
}

.lampu {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.lamp-image {
    width: 100px;
    height: auto;
}

.judul1 {
 position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
  color: white;
  text-shadow: 2px 2px 5px black;
  border-bottom: 3px solid gold;
  font-family: 'Georgia', serif;
}

.judul2 {
    position: absolute;
    top: 20px;
    left: 22%;
    transform: translateX(-50%);
    font-size: 36px;
  color: white;
  text-shadow: 2px 2px 5px black;
  border-bottom: 3px solid gold;
  font-family: 'Georgia', serif;
}

.judul3 {
    position: absolute;
    top: 20px;
    right: 3%;
    transform: translateX(-50%);
    font-size: 36px;
  color: white;
  text-shadow: 2px 2px 5px black;
  border-bottom: 3px solid gold;
  font-family: 'Georgia', serif;
}

.judul4 {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
  color: white;
  text-shadow: 2px 2px 5px black;
  border-bottom: 3px solid gold;
  font-family: 'Georgia', serif;
}
                  