body {
    margin: 0;
    background-image: url(RuangKeluarga.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;   
}

.lampubrek {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.lampubrek-image {
    width: 80px;
  height: auto;
}

.lampu-containerer {
    display: flex;
    gap: 60px;
    align-items: center;
}

.Astrip1 {
    position: absolute;
    top: 20px;
    right: -2%;
    transform: translateX(-50%);
    font-size: 36px;
  color: white;
  text-shadow: 2px 2px 5px black;
  border-bottom: 3px solid gold;
  font-family: 'Georgia', serif;
}

.Astrip2 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
  color: white;
  text-shadow: 2px 2px 5px black;
  border-bottom: 3px solid gold;
  font-family: 'Georgia', serif;

}

.Astrip3 {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
  color: white;
  text-shadow: 2px 2px 5px black;
  border-bottom: 3px solid gold;
  font-family: 'Georgia', serif;
}

.Astrip4 {
   position: absolute;
    top: 20px;
    left: 23%;
    transform: translateX(-50%);
    font-size: 36px;
  color: white;
  text-shadow: 2px 2px 5px black;
  border-bottom: 3px solid gold;
  font-family: 'Georgia', serif;
}